<!DOCTYPE html>
<html lang="en">

<head>

  {{>headerLinks}}

</head>

<body>
    
    {{>navbar}}

    <!-- ******************************** -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main-header-right">
                        <figure>
                            <img src="images/about.png" class="imag-fluid" alt="image">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Welcome to weather App</p>
                        <h1>I am<span class="text-clr"> Mern Stack </span>Developer</h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- ******************************** -->

    {{>footer}}


</body>

</html>